In [20]:
#importing the libraries
import numpy as np
import pandas as pd

In [43]:
# Reading the data
df = pd.read_csv("FoDS-Assignment-2.csv")

X = myData.iloc[:, :-1].values
y = myData.iloc[:, -1].values

df.isnull().sum()

bedrooms          0
bathrooms         0
sqft_living      14
sqft_lot          0
floors           13
waterfront        0
view              0
condition         0
grade             0
sqft_above       14
sqft_basement     0
sqft_living15     0
sqft_lot15        0
price             0
dtype: int64

In [39]:
df['sqft_living'] = df.fillna(value = df['sqft_living'].mean())
df['floors'] = df.fillna(value = df['floors'].mean())
df['sqft_above'] = df.fillna(value = df['sqft_above'].mean())


df.isnull().sum()

bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
sqft_living15    0
sqft_lot15       0
price            0
dtype: int64

In [41]:
# normalising the data values
df = (df - df.min()) / (df.max() - df.min())

df

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,sqft_living15,sqft_lot15,price
0,0.428571,0.227273,0.428571,0.004074,0.428571,0.0,0.00,0.666667,0.250,0.428571,0.353333,0.163386,0.015255,0.062821
1,0.428571,0.363636,0.428571,0.005552,0.428571,0.0,0.50,0.333333,0.375,0.428571,0.000000,0.330709,0.020768,0.067766
2,0.285714,0.181818,0.285714,0.005515,0.285714,0.0,0.00,0.333333,0.250,0.285714,0.176667,0.175197,0.017210,0.012912
3,0.285714,0.545455,0.285714,0.003365,0.285714,0.0,0.75,0.333333,0.375,0.285714,0.236667,0.360236,0.007225,0.070513
4,0.428571,0.363636,0.428571,0.004728,0.428571,0.0,0.00,0.333333,0.375,0.428571,0.000000,0.307087,0.018434,0.039377
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1183,0.428571,0.363636,0.428571,0.003931,0.428571,0.0,0.00,0.333333,0.375,0.428571,0.000000,0.255906,0.009413,0.040842
1184,0.142857,0.272727,0.142857,0.002152,0.142857,0.0,0.00,0.333333,0.250,0.142857,0.000000,0.131890,0.007201,0.062271
1185,0.428571,0.363636,0.428571,0.003471,0.428571,0.0,0.00,0.333333,0.375,0.428571,0.000000,0.458661,0.016150,0.121978
1186,0.428571,0.181818,0.428571,0.006258,0.428571,0.0,0.00,0.666667,0.250,0.428571,0.000000,0.206693,0.021998,0.053114
1187,0.285714,0.090909,0.285714,0.005148,0.285714,0.0,0.00,0.666667,0.250,0.285714,0.000000,0.122047,0.018152,0.047527

In [22]:
# Splitting the dataset into training data and testing data
splitData = int(0.7*len(X))
train_X, test_X, train_y, test_y = X[:splitData], X[splitData:], y[:splitData], y[splitData:]

len(test_y)

357